:host {
    display: block;
    position: relative;
}

.jaspero__colorpicker-wrapper {
    display: inline-block;
    position: relative;
    min-width:300px;
}

.jaspero__colorpicker-preview {
    width:37px;
    height:35px;
    position: absolute;
    left:0;
    top:0;
    border-radius: 3px 0 0 3px;
}

.jaspero__colorpicker-input {
    font-family:sans-serif;
    border:0;
    padding:10px 10px 10px 50px;
    outline:none;
    width:100%;
    border-radius:3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.jaspero__colorpicker-dropdown {
    position: absolute;
    top:110%;
    left:0;
    opacity:0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all .2s ease;
    min-width:300px;
    padding:10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.jaspero__colorpicker-dropdown.active {
    opacity:1;
    pointer-events: auto;
    transform: translateY(0px);
}

.jaspero__colorpicker-dropdown__bar {
    background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    width: 14px;
    height: 200px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.jaspero__colorpicker-dropdown__extra-color {
    width: 20px;
    height: 20px;
}

.jaspero__colorpicker-dropdown__bar_picker {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 7px;
    width: 14px;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
    background: hsl(0, 100%, 50%);
}

.jaspero__colorpicker-dropdown__bar_picker.active {
    width: 18px;
    height: 18px;
}

.jaspero__colorpicker-dropdown__sat {
    width: 90%;
    height: 200px;
    display: inline-block;
    background: hsl(0, 100%, 50%);
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jaspero__colorpicker-dropdown__sat_sat_picker {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    top: 0;
    left: 100%;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 10;
    -webkit-transition: width .25s, height .25s;
    transition: width .25s, height .25s;
    background: hsl(0, 100%, 50%);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
}

.jaspero__colorpicker-dropdown__sat_sat_picker.active {
    width: 16px;
    height: 16px;
}

.jaspero__colorpicker-dropdown__sat_white,
.jaspero__colorpicker-dropdown__sat_black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.jaspero__colorpicker-dropdown__sat_white {
    background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
}

.jaspero__colorpicker-dropdown__sat_black {
    background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
}