<div class="jaspero__colorpicker-wrapper" (click)="toggle()">
    <div class="jaspero__colorpicker-preview" [style.background]="hslFullColor"></div>
    <input class="jaspero__colorpicker-input" type="text" #input />
</div>
<div class="jaspero__colorpicker-dropdown" [class.active]="dropDownOpen">

    <div class="jaspero__colorpicker-dropdown__sat" #sat [style.background]="hslBackgroundColor" (mousedown)="satClick($event)">
        <div class="jaspero__colorpicker-dropdown__sat_white"></div>
        <div class="jaspero__colorpicker-dropdown__sat_black"></div>
        <div class="jaspero__colorpicker-dropdown__sat_sat_picker" [class.active]="satCliked" [ngStyle]="satPickerStyle"></div>
    </div>
    <div class="jaspero__colorpicker-dropdown__bar" #bar (mousedown)="barClick($event)">
        <div class="jaspero__colorpicker-dropdown__bar_picker" [class.active]="barClicked" [ngStyle]="barPickerStyle"></div>
    </div>
    <div class="jaspero__colorpicker-dropdown__extra" *ngIf="extraColorsInner.length">
        <h5>Extra colors</h5>
        <div class="jaspero__colorpicker-dropdown__extra-color" *ngFor="let color of extraColorsInner" [style.background]="'#' + color" (click)="hexChange(color)"></div>
    </div>
</div>