:host {
    display: block;
}

.picker_select {
}

/*.picker_select__color {*/
/*width: 50px;*/
/*height: 70px;*/
/*cursor: pointer;*/
/*}*/

/*.picker_drop-down {*/
/*opacity: 0;*/
/*pointer-events: none;*/
/*}*/

.picker_drop-down__bar {
    background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    width: 14px;
    height: 200px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.picker_drop-down__extra_colors_color {
    width: 20px;
    height: 20px;
}

.picker_drop-down__bar_picker {
    position: absolute;
    left: 50%;
    border-radius: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 14px;
    width: 14px;
    border: 2px solid white;
    /*pointer-events: none;*/
    cursor: pointer;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
    background: hsl(0, 100%, 50%);
}

.picker_drop-down__bar_picker.active {
    width: 18px;
    height: 18px;
}

.picker_drop-down__sat {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 8px;
    background: hsl(0, 100%, 50%);
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.picker_drop-down__sat_sat_picker {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    top: 0;
    left: 100%;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 10;
    -webkit-transition: width .25s, height .25s;
    transition: width .25s, height .25s;
    background: hsl(0, 100%, 50%);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
}

.picker_drop-down__sat_sat_picker.active {
    width: 16px;
    height: 16px;
}

.picker_drop-down__sat_white,
.picker_drop-down__sat_black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.picker_drop-down__sat_white {
    background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
}

.picker_drop-down__sat_black {
    background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
}

.picker_drop-down__input {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.picker_drop-down__input input {
    margin-left: 10px;
    height: 28px;
    font-size: 20px;
    outline: none !important;
    width: 100px;
    border-radius: 2px;
    border: 0;
    padding: 0 4px;
}

.picker_drop-down__input_preview {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: hsl(0, 100%, 50%);
    display: inline-block;
}